<%- include('partials/header') %>

<div class="consultation-page">
  <div class="container">
    <div class="back-arrow">
      <a href="/">
        <i class="bi bi-arrow-left-square-fill"></i> <span>Home</span>
      </a>
    </div>
    <div class="consultation-page__text-container">
      <div class="consultation-page__header">
        <h1>Hi there,</h1>
        <h3>We can't wait to learn more about you!</h3>
      </div>
      <div class="consultation-page__supporting">
        <p>Would you like to get started?</p>
        <a id="getStartedBtn" href="/consultation/get-started" class="btn btn-lg btn-light">Get Started</a>
      </div>
    </div>
  </div>
</div>
<script src="/scripts/consult_page_animations.js"></script>
<%- include('partials/footer') %>
