<%- include('partials/header') %>

<div class="home-page">
  <div class="container">
    <div class="home-page__text-container">
        <div class="home-page__header">
            <h1>Welcome to WebDevs</h1>
          </div>
          <div class="home-page__supporting">
            <h4>Lets build your business, online.</h4>
          </div>
          <div class="home-page__btn-container-wrapper">
            <div class="home-page__btn-container">
              <a href="/contact" class="btn btn-outline-light">Contact Us</a>
              <a href="/portfolio" class="btn btn-outline-light">Our Work</a>
              <a href="/about" class="btn btn-outline-light">About Us</a>
              <a href="/consultation" class="btn btn-outline-light"
                >Free Consultation</a
              >
            </div>
          </div>
    </div>
  </div>
</div>
<script src="/scripts/home_page_slide_off.js"></script>

<%- include('partials/footer') %>
